<!-- wp:template-part {"slug":"header","theme":"car-dealer-show","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"bill-section-040","style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}}} -->
<main class="wp-block-group bill-section-040"
    style="padding-right:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)">
    <!-- wp:columns {"style":{"spacing":{"padding":{"top":"0","bottom":"0"}}}} -->
    <div class="wp-block-columns" style="padding-top:0;padding-bottom:0"><!-- wp:column {"width":"70%"} -->
        <div class="wp-block-column" style="flex-basis:70%">
            <!-- wp:group {"className":"bill-section-038","layout":{"type":"default"}} -->
            <div class="wp-block-group bill-section-038">
                <!-- wp:spacer {"height":"0","className":"bill-section-034"} -->
                <div style="height:0" aria-hidden="true" class="wp-block-spacer bill-section-034"></div>
                <!-- /wp:spacer -->


                <!-- wp:spacer {"height":"var:preset|spacing|30","className":"bill-section-036","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
                <div style="margin-top:0;margin-bottom:0;height:var(--wp--preset--spacing--30)" aria-hidden="true"
                    class="wp-block-spacer bill-section-036"></div>
                <!-- /wp:spacer -->

                <!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}}} /-->
            </div>
            <!-- /wp:group -->

            <!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"default"}} /-->
        </div>
        <!-- /wp:column -->

        <!-- wp:column {"width":"30%"} -->
        <div class="wp-block-column" style="flex-basis:30%">
            <!-- wp:group {"className":"sidebar","style":{"spacing":{"padding":{"top":"20px","right":"20px","bottom":"20px","left":"20px"}}}} -->
            <div class="wp-block-group sidebar"
                style="padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px">
                <!-- wp:heading {"level":3} -->
                <h3 class="wp-block-heading">Sidebar</h3>
                <!-- /wp:heading -->

                <!-- wp:paragraph -->
                <p>Here is the content for your sidebar. You can add widgets or custom blocks here.</p>
                <!-- /wp:paragraph -->

                <!-- wp:legacy-widget /-->

                <!-- wp:legacy-widget /-->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
</main>
<!-- /wp:group -->

<!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","theme":"car-dealer-show","tagName":"footer","area":"footer","className":"cardealershow-footer"} /-->